node_modules
npm-debug.log
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
.coverage
.DS_Store
**/.DS_Store
*.log
.idea
.vscode
*.pyc
__pycache__
.pytest_cache
.mypy_cache
.tox
build
dist
*.egg-info
.coverage
htmlcov
.nyc_output
coverage
.sass-cache
*.map
frontend/classroom/node_modules
frontend/zyukupage/node_modules
autograder-system